<%- include Partials/header.ejs %> <%- include Partials/main_nav.ejs %>
<div class="container text-center">
  <%- include Partials/alerts.ejs %>
  <img
    class="d-block mx-auto mt-5 mb-4"
    src="/Content/favicon.svg"
    alt="CJB Logo"
    width="72"
  />
  <h1 class="display-4 fw-bold mb-4"><%= title %></h1>
  <% if (loggedin) { %>
  <div class="btn-group">
    <a href="/editor" class="btn btn-primary btn-lg">Create Ticket</a>
    <a href="/manage" class="btn btn-secondary btn-lg">Manage Tickets</a>
  </div>
  <% } else { %>
  <div class="btn-group">
    <a href="/login" class="btn btn-primary btn-lg">Login</a>
    <a href="/register" class="btn btn-secondary btn-lg">Register</a>
  </div>
  <% } %>
</div>
<%- include Partials/footer.ejs %>
